from cachelib.file import FileSystemCache

PUBLIC_ROLE_LIKE_GAMMA = True
SQLALCHEMY_DATABASE_URI = '{{ SQLALCHEMY_DATABASE_URI }}'
SECRET_KEY = '{{ superset_secret_key }}'
FEATURE_FLAGS = {
{% for flag in superset_feature_flags %}
    '{{ flag }}': True,
    {% endfor %}
}

MAPBOX_API_KEY = '{{ mapbox_api_key }}'
TALISMAN_CONFIG = {
    "content_security_policy": {
        "base-uri": ["'self'"],
        "default-src": ["'self'"],
        "img-src": [
            "'self'",
            "blob:",
            "data:",
            "https://apachesuperset.gateway.scarf.sh",
            "https://static.scarf.sh/",
            # "https://avatars.slack-edge.com", # Uncomment when SLACK_ENABLE_AVATARS is True
        ],
        "worker-src": ["'self'", "blob:"],
        "connect-src": [
            "'self'",
            "https://api.mapbox.com",
            "https://events.mapbox.com",
        ],
        "object-src": "'none'",
        "style-src": [
            "'self'",
            "'unsafe-inline'",
        ],
        "script-src": ["'self'", "'strict-dynamic'", "'unsafe-eval'"],
    },
    "content_security_policy_nonce_in": ["script-src"],
    "force_https": False,
    "session_cookie_secure": False,
}
SUPERSET_WEBSERVER_TIMEOUT = 300
SESSION_SERVER_SIDE = True
SESSION_TYPE = "cachelib"
SESSION_CACHELIB = FileSystemCache(cache_dir='flask_session', threshold=5000)
SQL_MAX_ROW = 500000
